<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <input
        type="text"
        [(ngModel)]="nombreTarea"
        (keyup.enter)="agregarTarea()"
        class="form-control form-control-lg"
        placeholder="Ingrese la tarea..."
      />
    </div>
    <div class="col-lg-6 offset-lg-3 mt-3">
      <div class="card p-3" *ngIf="listaTareas.length == 0">
        <h5>No hay tareas para mostrar</h5>
      </div>
      <ul class="list-group">
        <li
          class="list-group-item d-flex justify-content-between"
          *ngFor="let tarea of listaTareas; let i = index"
        >
          <span class="cursor" (click)="actualizarTarea(tarea, i)">
            <i class="text-success" [ngClass]="tarea.estado===false ? 'far fa-circle' : 'fas fa-check-circle'"></i>
           <!--  <i class="far fa-circle"></i>
            <i class="fas fa-check-circle"></i> -->
          </span>
          {{ tarea.nombre }}
          <span class="text-danger cursor" (click)="eliminar(i)"
            ><i class="fas fa-trash"></i
          ></span>
        </li>
      </ul>
    </div>
  </div>
</div>
